<ion-header>
  <ion-toolbar class="padding-header" color="tertiary">
    <ion-buttons slot="start">
      <app-btn-back></app-btn-back>
    </ion-buttons>
    <ion-title class="paragraph title-header">Recuperar senha</ion-title>
    <ion-buttons slot="end" (click)="onSave()">
      <ion-button>
        <ion-icon slot="icon-only" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <section>
          <form [formGroup]="formResetPassword" (submit)="onSave()">
            <div class="group-input">
              <div class="input">
                <ion-item>
                  <ion-input type="password" placeholder="Senha atual" formControlName="senhaAtual"></ion-input>
                </ion-item>
                <div class="input-invalid" *ngIf="submitted && senhaAtual.invalid">
                  <span class="form-invalid" *ngIf="!senhaAtual.errors.invalid">Senha atual obrigatória</span>
                  <span class="form-invalid" *ngIf="senhaAtual.errors.invalid">A senha deve conter no mínimo 6
                    caracteres</span>
                </div>
              </div>
              <div class="input">
                <ion-item>
                  <ion-input type="password" placeholder="Nova senha" formControlName="novaSenha"></ion-input>
                </ion-item>
                <div class="input-invalid" *ngIf="submitted && novaSenha.invalid">
                  <span class="form-invalid" *ngIf="!novaSenha.errors.invalid">Nova senha obrigatória</span>
                  <span class="form-invalid" *ngIf="novaSenha.errors.invalid">A senha deve conter no mínimo 6
                    caracteres</span>
                </div>
              </div>
              <div class="input">
                <ion-item>
                  <ion-input type="password" placeholder="Confirma nova senha" formControlName="confirmaSenha"></ion-input>
                </ion-item>
                <div class="input-invalid" *ngIf="submitted && confirmaSenha.invalid">
                  <span class="form-invalid" *ngIf="!confirmaSenha.errors.notFound">Senha obrigatória</span>
                  <span class="form-invalid" *ngIf="confirmaSenha.errors.notFound">Senha não confere</span>
                </div>
              </div>
            </div>
          </form>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>