<ion-content>
  <section class="bg-page">
    <ion-grid>
      <ion-row>
        <div class="header">
          <div class="menu"></div>
          <div class="person">
            <div class="card-person">
              <div class="informations">
                <div class="card-img">
                  <img src="/assets/img/47530467.jpg">
                </div>
                <p>João Paulo Brito</p>
                <p>Atacante, 26 anos</p>
                <p>Caieiras, São Paulo - SP</p>
              </div>
            </div>
          </div>
          <div>
            <img class="img-bg-header" src="/assets/img/highway-3392100_1920.jpg">
          </div>
        </div>
      </ion-row>
      <ion-row>
        <div class="btn-actions">

        </div>
      </ion-row>

      <ion-row>
        <div class="content-details">
          <img src="/assets/img/player-illustration.svg">
        </div>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>