@font-face {
  font-family: 'Nunito Sans Normal';
  src: url('/assets/font/NunitoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans SemiBold';
  src: url('/assets/font/NunitoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans Bold';
  src: url('/assets/font/NunitoSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.font-normal{font-family: 'Nunito Sans Normal';}
.font-semiBold{font-family: 'Nunito Sans SemiBold'!important;}
.font-bold{font-family: 'Nunito Sans Bold'!important;}

html, body, ion-input{
  font-size: 18px!important;
}

:root {
  /** primary **/
  --ion-color-primary: #1BB5F3;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2eafe3;
  --ion-color-primary-tint: #2eafe3;

  --ion-font-family: 'Nunito Sans Normal';

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #0094D0;
  --ion-color-tertiary-rgb: 0, 148, 208;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #0094D0;
  --ion-color-tertiary-tint: #0094D0;

  /** success **/
  --ion-color-success: #1BB5F3;
  --ion-color-success-rgb: 56, 128, 255;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #2eafe3;
  --ion-color-success-tint: #2eafe3;

  /** warning **/
  --ion-color-warning: #D44638;
  --ion-color-warning-rgb: 212, 70, 56;
  --ion-color-warning-contrast: #fff;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #D44638;
  --ion-color-warning-tint: #D44638;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #E5E5E5;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

ion-button{
  --border-radius: 0px;
    height: 50px;

    @media screen and(min-width: 360px) {
      height: 60px;
    }
}

ion-datetime, ion-item{
  --background-hover-opacity: 0;
  --ripple-color: transparent;
}

$color-default: #9da2a5;

.text-center{
  text-align: center;
  display: inline-block;
  width: 100%;
}

.img{
  max-width: 100%;
}

.z-index-full{
  z-index: 9999;
}

.relative{
  position: relative;
}

.padding{
  &.small{
    padding: 12px 0;
  }
}
.btn-menu ion-icon{
  color: #fff;
}
ion-item{
  --padding-start: 0;
}
ion-input{
  color: $color-default!important;
}
.menu ion-icon{
  font-size: 1.2em;
}
.btn{
  padding: 5px 2px;
}

.btn-white{
  background-color: #FFF!important;
  color: $color-default;
}

.color-p{
  color: $color-default;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.group-input{
  @media screen and(min-width: 360px) {
    margin-bottom: 20px;
  }  
}

.description{
  &.p-default{
    font-size: 16px;
    line-height: 20px;
  }
}

.input{
  position: relative;
  min-height: 60px;
    @media screen and(min-width:360px){
        min-height: 75px;   
    }
  .input-invalid{
    padding-left: 20px;
    margin: 5px 0 0 0;
    font-size: 14px;
    color: var(--ion-color-danger);
    padding-left: 0px;
  }
}

.loading-wrapper.sc-ion-loading-ios{
  border-radius: 0!important;
}

.bg-page{
  background-color: #F0EFF3;
  width: 100%;
  height: 100%;
}

.container-fluid{
  padding-left: 20px;
  padding-right: 20px;
}

.bg-white{
  background-color: #FFF;
}
.color-base{
  color: #9B9B9B;
}

.paragraph{
  &.title{
    font-size: 20px;
    line-height: 8px;
    color: #77787B;
    font-family: 'Nunito Sans SemiBold';
    @media screen and(min-width: 375px) {
      font-size: 30px;
      line-height: 40px;
    }
  }
  &.title-header{
    font-size: 20px;
    color: #FFFFFF;
  }
  &.subtitle{
    font-size: 20px;
  }
  &.simple{
    font-size: 16px;
  }
  &.font-weight-600{
    font-weight: 600;
  }
}

.icon-gmail{
  position: absolute;
  width: 50px;
  left: -15px;
  background-color: #B83C30;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line { 
  width:100%; 
  text-align:center; 
  font-size: 1em;
  border-bottom: 1px solid #E5E5E5; 
  line-height:0.1em; 
  margin:20px 0; 
  span{
      background:#fff; 
      padding:0 10px;
      font-weight: 400;
      color: #E5E5E5;
  }
}

.padding-header{
  padding: 8px 0!important;
}

ion-datetime {
  padding-left: 0;
  font-weight: 600;
  color: #dadcdd;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.loading {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  border: .25rem solid #FFF;
  border-top-color: #E5E5E5;
  animation: spin 1s infinite linear;
}

.loading-form{
  div{
    width: 100%;
    height: 60px;
    animation:pulse .8s infinite;
    animation-direction:alternate;
    -webkit-animation-name:pulse;
    animation-name:pulse;
    background-color: #f0eff370;
    margin-bottom: 4px;
  }
}

@keyframes pulse{
  0%{opacity:.25}
  100%{opacity:1}
}