<ion-toolbar class="title-register">
  <ion-buttons slot="start">
    <app-btn-back></app-btn-back>
  </ion-buttons>
  <ion-title class="color-p">Recuperar senha</ion-title>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="p-recover">Não se preocupe, é moleza recuperar sua senha.<br>
          Informe seu e-mail de cadastro.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <form [formGroup]="recoverForm">
          <div class="group-input">
            <div class="input">
              <ion-item>
                <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
              </ion-item>
              <div class="input-invalid" *ngIf="submitted && email.invalid">
                <span class="form-invalid" *ngIf="email.invalid">E-mail obrigatório</span>
                <span class="form-invalid" *ngIf="email.errors.notFound">E-mail já está em uso</span>
              </div>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="group-btn">
          <div class="btn">
            <ion-button color="primary" expand="block" (click)="onRecover()">Recuperar senha</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>