<div class="header">
  <div class="img-bg"></div>
  <img class="relative z-index-full" src="/assets/img/soccer-img-login.svg">
</div>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="loginForm" (submit)="onSubmit()">
          <div class="group-input">
            <div class="input">
              <ion-item>
                <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
              </ion-item>
              <div class="input-invalid" *ngIf="submitted && email.invalid">
                <span class="form-invalid" *ngIf="email.errors?.notFound">Perfil não encontrado no sistema</span>
                <span class="form-invalid" *ngIf="email.invalid">E-mail obrigatório</span>
              </div>
            </div>
            <div class="input">
              <ion-item>
                <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
              </ion-item>
              <div class="input-invalid" *ngIf="submitted && password.invalid">
                <span class="form-invalid" *ngIf="password.invalid">Senha obrigatória</span>
              </div>
            </div>
            <div class="form-btn">
              <a class="description color-p" [routerLink]="['/recover-password']">Recuperar senha?</a>
            </div>
          </div>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="group-btn">
          <div class="btn">
            <ion-button color="primary" expand="block" (click)="onSubmit()">Entrar</ion-button>
          </div>
          <div class="btn-register">
            <a class="text-center color-p" [routerLink]="['/register']">Não possui uma conta? <span>Inscrever-se</span></a>
            <!-- <ion-button color="default" class="btn-white" expand="full"  >Novo registro</ion-button> -->
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>