.header{
  padding: 30px;
  position: relative;
  @media screen and(min-width: 360px){
    padding: 40px;
  }
  .img-bg{
    &:before{
      content: url('/assets/img/bg-f.svg');
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &:after{
      width: 100%;
      height: auto;
      content: url('/assets/img/bg-v.svg');
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

.form-btn{
  text-align: end;
}

.btn-register{
  margin-top: 30px;
  a{
    span{
      color: #1BB5F3;
    }
  }
}

.password-control{
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  top: 15px;
  z-index: 9999;

}