.header{
  position: relative;
  text-align: center;
  .logo{
    width: 80px;
    height: 80px;
    padding: 12px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: inline-block;
    margin-top: 20px;
    @media screen and(min-width: 375px) {
      margin-top: 30px;
    }
  }
}

.form-btn{
  text-align: end;
}

.btn-register{
  margin-top: 15px;
  @media screen and(min-width: 375px) {
    margin-top: 30px;
  }
  a{
    span{
      color: #1BB5F3;
    }
  }
}

.password-control{
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0;
  top: 20px;
  z-index: 9999;

}