.logo{
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    @media screen and(min-width: 360px) {
      margin-bottom: 40px;
    }
    .card{
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #E5E5E5;
      border: 12px solid #FFF;
      @media screen and(min-width: 360px) {
        width: 160px;
        height: 160px;
      }
    }
  }